{% extends "layout.html" %}
{% block header %}
    <h1>{% block title %}Copy tables{% endblock %}</h1>
{% endblock %}
{% block content %} 
    {% for prefix in ['source', 'destination'] %}
        <div class="row form-inline form-group">
            {% for suffix in ['project', 'dataset', 'table'] %}
                <input class="form-control mb-2 mr-sm-2" type="text" name="{{ '_'.join([prefix, suffix]) }}" required="true" placeholder="{{ ' '.join([prefix, suffix]) }}">
            {% endfor %}
        </div>
    {% endfor %}
{% endblock content %}
