<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- datepicker deps for bootstrap 4-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <title>{% block title %}{% endblock %} - BQ toolbelt</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <a class="navbar-brand">
                <img src="{{url_for('static', filename='logo.png')}}" width="40" height="40" alt="">
            </a>
            <div class="navbar-nav">
                <a class="nav-item nav-link " href="{{ url_for('copy') }}">Copy tables</a>
                <a class="nav-item nav-link" href="{{ url_for('delete') }}">Delete tables</a>
                <a class="nav-item nav-link" href="{{ url_for('write') }}">Write queries</a>
            </div>
        </nav>
        <!-- Page Content -->
        <div class="container">
            <header>
                {% block header %}{% endblock %}
            </header>
            <div class="container">
                {% block content %}{% endblock %}
                <div class="row form-inline">
                    <button id="submitbtn" type="submit" class="btn btn-primary mb-2 mr-sm-2">Start</button>
                    <button type="reset" class="btn btn-light mb-2 mr-sm-2">Reset</button>
                </div></form>
            {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                    {% if message %}
                        <div class="alert alert-success alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>&#128077;</strong> 
                            Finished job for: {% for item in message.items() %}{{item}} {% endfor %}
                        </div>     
                    {% endif %}
                {% endfor %}
            {% endwith %}   
        </div>
        <script type="text/javascript">
            $(function () {
                $('#start_date').datetimepicker({format: 'YYYY/MM/DD'});
                $('#end_date').datetimepicker({format: 'YYYY/MM/DD'});
            });
            $(document).ready(function() {
                $('form').on('submit', function() {
                    $('#submitbtn').attr('disabled', 'disabled').html('<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>Working...');
                });
            });
        </script>
    </body>
</html>