{% extends "layout.html" %}
{% block header %}
    <h1>{% block title %}Write queries{% endblock %}</h1>
{% endblock %}
{% block content %}
    <div class="row form-inline form-group">
        <label for="sql_file">{% raw %}SQL file input ('{{date}}' template will be rendered YYYYMMDD){% endraw %}</label>
        <input type="file" name="sql_file" class="form-control-file mb-2 mr-sm-2" required="true">
    </div>
    <div class="row form-inline form-group">
        {% for item in ['project', 'dataset', 'table'] %}
            <input class="form-control mb-2 mr-sm-2" type="text" name="{{ item }}" required="true" placeholder="{{ item }}">
        {% endfor %}
    </div>
    <select class="custom-select row form-group col-4" name="write_disposition">
        <option selected>Choose write disposition</option>
        <option value="WRITE_EMPTY">Write empty to `tableYYYYMMDD`</option>
        <option value="WRITE_TRUNCATE">Write truncate to `tableYYYYMMDD`</option>
        <option value="WRITE_APPEND">Write append to `tableYYYYMMDD`</option>
        <option value="WRITE_APPEND_ONE">Write append to `table`</option>
    </select>
{% endblock content %}
